.comments-section {
  display: flex;
  flex-direction: row;
  margin-top: 64px;
  padding: 15px;

  .comment-input {
    width: 40%;
    margin-right: 30px;
  }

  .comment-tree {
    width: 60%;
  }
}
